{% extends "dashboard/base.html" %}
{% block content %}
    <h1>Edit Ticket</h1>
    <form method="POST">
        <div class="form-group">
            <label>Title</label>
            <input value="{{ticket.title}}" name="title" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" name="description">
                {{ticket.description}}
            </textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
{% endblock %}