header {
    width: 100%;
    background-color: blue;
}

.header {
    width: 100%;
    background-color: orange;
}

.navbar-brand {
    color: white !important;
}

.footer {
    display: block;
}

form {
    margin: 0 auto;
    padding: 10px;
}
